@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	background-color: $white;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
main, header{
	padding: 50px;
}

header{

}/*header*/

.slider{

}/*.slider*/

.description-product{

}/*.description-product*/

.carousel{

}/*.carousel*/

.carousel-prosthesis{

}/*.carousel-prosthesis*/

.carousel-shoes{

}/*.carousel-prosthesis*/

.carousel-equipment{

}/*.carousel-equipment*/

.gallery{

}/*.gallery*/

.contact-form{

}/*.contact-form*/

footer{
	background-color: #000;
}/*footer*/


@import "media"; // Always at the end
